* {
  margin: 0px;
}

a:link{
color:whitesmoke;
}
a:visited{ 
color:whitesmoke;
}
a:hover{
animation:blinker 0.7s linear infinite;
}
@keyframes blinker {
50% {
  opacity:0;
}
}

.mainPage {
  width: 100vw;
  height: 100vh;
  background-image: url(https://secure.static.tumblr.com/f32ee0dda230fd7b69e9ab098a3ba228/ctmhrlq/K2Ynnfhhp/tumblr_static_91y6pjva6r0o80sg8kc88c48k.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.mainMenu {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  background-color:transparent;
}


.enter {
  background-color:transparent;
  width:vw;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: whitesmoke;
}
